{% extends "Twig.html" %}
{% block conteudo %}
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Sobre</h2>
            {{ texto|raw }}
        </div>
    </div>
{% endblock %}
